.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border-radius: 10px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
  background-color: white;
  position: relative;
  bottom: 100px;
  text-align: center;
  padding: 50px 0px 50px 0px;
  font-family: "Nunito", sans-serif;
}

.skills img {
  margin-bottom: 20px;
}

.skills h3 {
  font-size: 20px;
  color: #7510f7;
  margin-top: 20px;
}

.skillsText {
  display: flex;
  flex-wrap: wrap;
  margin-right: 65px;
}

.skills span {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.rightBorder {
  border-right: 1px solid rgb(197, 197, 197);
}

@media screen and (max-width: 750px) {
  .rightBorder {
    border-right: none;
  }
  .skillsText {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .skills {
    width: 80%;
  }
  .skillsText {
    margin: 0;
  }
}
